@use "sass:math";

/*-- -------------------------- -->
<---           Form             -->
<--- -------------------------- -*/

/* Mobile */
@media only screen and (min-width: 0em) {
  #form {
    padding: #{math.div(50, 16)}em 0;
    margin: auto;
    position: relative;
    padding-bottom: 36%;

    .top-wave {
      position: absolute;
      width: 100%;
      top: #{math.div(-2, 16)}em;
      height: auto;
      left: 0;
    }

    .title {
      font-weight: 900;
      font-size: min(9vw, 2.4em);
      line-height: #{math.div(58, 48)};
      color: #1a1a1a;
      position: relative;
      margin-bottom: #{math.div(42, 48)}em;
      text-align: left;
    }

    p {
      line-height: #{math.div(27, 18)};
      max-width: #{math.div(500, 18)}em;
      color: #595959;
      margin-bottom: #{math.div(48, 18)}em;
    }

    .left-section {
      width: 96%;
      margin: auto;
      margin-top: 15%;
      max-width: #{math.div(600, 16)}em;
    }

    #contact {
      margin: auto;
      margin-bottom: #{math.div(100, 16)}em;
      .input-group {
        display: flex;
        flex-direction: column;
        margin-bottom: #{math.div(30, 16)}em;

        label {
          font-weight: bold;
          font-size: #{math.div(16, 16)}em;
          margin-bottom: #{math.div(6, 16)}em;
        }

        input[type="text"],
        input[type="email"],
        input[type="tel"],
        input[type="url"],
        textarea {
          font-size: #{math.div(16, 16)}em;
          height: #{math.div(67, 16)}em;
          border: none;
          border-bottom: #{math.div(1, 16)}em solid #d4d4d4;
          background: transparent;
        }

        input:focus {
          border: #{math.div(1, 16)}em solid var(--primary);
        }

        textarea {
          min-height: #{math.div(200, 16)}em;
          padding-top: #{math.div(20, 16)}em;
        }

        ::placeholder {
          color: #d4d4d4;
          font-family: "Roboto", sans-serif;
        }
      }

      .button-solid {
        border: none;
      }
    }

    .contact-right {
      background: #1a1a1a;
      padding: #{math.div(45, 16)}em #{math.div(34, 16)}em;
      width: 100%;
      max-width: #{math.div(300, 16)}em;
      margin: auto;
      border-radius: #{math.div(5, 16)}em;

      .heading {
        color: #fff;
        font-size: #{math.div(24, 16)}em;
        line-height: 1.2em;
        font-weight: bold;
        padding-left: #{math.div(20, 24)}em;
        border-left: #{math.div(5, 24)}em solid var(--primary);
        display: block;
        margin-bottom: #{math.div(20, 24)}em;
      }

      .info-group {
        margin-bottom: #{math.div(36, 16)}em;

        &:last-of-type {
          margin-bottom: 0;
        }
      }

      .info {
        font-size: #{math.div(16, 16)}em;
        line-height: #{math.div(28, 16)};
        color: #fff;
        opacity: 0.9;
        text-decoration: none;
        display: block;
      }
    }
  }
}

/* Mobile Landscape */
@media only screen and (min-width: 568px) {
  #form {
    #contact {
      max-width: #{math.div(700, 16)}em;
    }
    .contact-right {
      max-width: #{math.div(700, 16)}em;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      .info-group {
        width: 40%;
        margin-left: #{math.div(50, 16)}em;
        &:nth-of-type(3) {
          margin-bottom: 0;
        }
      }
    }
  }
}

/* Tablet */
@media only screen and (min-width: 48em) {
  #form {
    #contact {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      flex-wrap: wrap;

      .input-group {
        width: 48%;
        margin-bottom: #{math.div(50, 16)}em;
        position: relative;

        &:nth-of-type(5) {
          width: 100%;
        }

        &:last-of-type {
          width: 100%;
        }

        &:hover {
          .hover-box {
            height: #{math.div(67, 16)}em;
            border: #{math.div(1, 16)}em solid var(--primary);
            pointer-events: none;
          }

          input[type="text"],
          input[type="email"],
          input[type="tel"],
          input[type="url"],
          textarea {
            padding-left: #{math.div(20, 16)}em;
          }
        }

        input[type="text"],
        input[type="email"],
        input[type="tel"],
        input[type="url"],
        textarea {
          border-bottom: none;
          position: relative;
          transition: padding 0.3s;
          background: transparent;
        }

        .hover-box {
          position: absolute;
          display: block;
          height: #{math.div(1, 16)}em;
          width: 100%;
          background: transparent;
          border: #{math.div(1, 16)}em solid #e9e8e8;
          opacity: 1;
          bottom: #{math.div(-1, 16)}em;
          left: 0;
          z-index: 10;
          transition: height 0.3s, border 0.3s;
          z-index: -1;
        }
      }

      .textarea {
        &:hover {
          .hover-box {
            height: #{math.div(168, 16)}em;
          }
        }
      }

      .form-submit {
        margin-left: auto;
      }
    }
  }
}

/* Small Desktop */
@media only screen and (min-width: 64em) {
  #form {
    display: flex;
    justify-content: center;
    align-content: flex-start;
    font-size: 1.5vw;
    width: 100%;
    padding: #{math.div(150, 16)}em 0;

    .left-section {
      width: #{math.div(750, 16)}em;
      margin: 0;
      margin-left: 0;
      margin-right: #{math.div(75, 16)}em;
    }

    #contact {
      margin: 0;
      margin-right: 0;
      max-width: none;
    }

    .contact-right {
      flex-direction: column;
      max-width: #{math.div(300, 16)}em;
      margin: 0;
      height: #{math.div(554, 16)}em;

      .info-group {
        margin-left: 0;
        width: 100%;

        &:nth-of-type(3),
        &:last-of-type {
          margin-bottom: #{math.div(36, 16)}em;
        }
      }
    }
  }
}

/* Large Desktop */
@media only screen and (min-width: 1300px) {
  #form {
    font-size: inherit;
  }
}

/* Dark Mode */
@media only screen and (min-width: 0px) {
  body.dark-mode {
    #form {
      .title {
        color: #fff;
      }

      p {
        color: #fff;
      }

      .input-group {
        label {
          color: #fff;
        }

        input,
        textarea {
          color: #fff;
        }
      }

      .contact-right {
        background: var(--medium);
      }
    }
  }
}
