@use "sass:math";

/*-- -------------------------- -->
<---          Landing           -->
<--- -------------------------- -*/

/* Mobile */
@media only screen and (min-width: 0em) {
  #hero {
    font-size: inherit;
    padding-bottom: #{math.div(270, 16)}em;
    padding-top: #{math.div(150, 16)}em;
    position: relative;
    z-index: 1;

    &:before {
      content: "";
      position: absolute;
      display: block;
      height: 100%;
      width: 100%;
      background: #000;
      opacity: 0.65;
      top: 0;
      left: 0;
      z-index: -10;
    }

    picture {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: -11;

      img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    .hero-content {
      width: 96%;
      max-width: #{math.div(1144, 16)}em;
      margin: auto;
      position: relative;
      z-index: 10;
      text-align: center;
    }

    .hero-content {
      padding: 0;
    }

    .heroText {
      width: 100%;
      margin: auto;
      max-width: #{math.div(910, 16)}em;
    }

    h1 {
      font-weight: bold;
      font-size: min(12vw, 4em);
      color: #fff;
      text-align: center;
      line-height: #{math.div(77, 64)};
      margin: auto;
      width: 100%;
      max-width: #{math.div(904, 64)}em;
      margin-bottom: #{math.div(92, 64)}em;
      position: relative;

      &:before {
        content: "";
        position: absolute;
        display: block;
        height: #{math.div(4, 64)}em;
        width: #{math.div(97, 64)}em;
        background: var(--primary);
        opacity: 1;
        bottom: #{math.div(-16, 64)}em;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    p {
      line-height: 1.55em;
      margin: auto;
      margin-bottom: #{math.div(31, 18)}em;
      color: #fff;
      width: 100%;
      text-align: center;
      max-width: #{math.div(617, 18)}em;
      opacity: 1;
    }

    .button-solid {
      margin: auto;
      display: inline-block;
      width: auto;
    }
  }
}

/* Tablet */
@media only screen and (min-width: 48em) {
  #hero {
    padding: #{math.div(200, 16)}em 0 #{math.div(300, 16)}em 0;
    z-index: 1;
    overflow: hidden;

    .hero-content {
      display: flex;
      justify-content: space-between;
      position: relative;
    }
  }
}

/* Small Desktop */
@media only screen and (min-width: 1300px) {
  #hero {
    padding-top: #{math.div(273, 16)}em;
    padding-bottom: #{math.div(307, 16)}em;
    background: url("../images/landing.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    picture {
      display: none;
    }
  }
}

/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

/* Mobile */
@media only screen and (min-width: 0em) {
  .services {
    border-radius: #{math.div(5, 16)}em;
    margin: auto;
    margin-top: #{math.div(-167, 16)}em;
    position: relative;
    z-index: 100;
    background: #fff;
    width: 90%;
    max-width: #{math.div(1320, 16)}em;
    padding: #{math.div(50, 16)}em #{math.div(20, 16)}em;
    border-top: #{math.div(6, 16)}em solid var(--primary);
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.05);
    margin-bottom: #{math.div(50, 16)}em;
    .card {
      display: block;
      width: 100%;
      max-width: #{math.div(357, 16)}em;
      margin: auto;
      margin-bottom: #{math.div(50, 16)}em;
      &:last-of-type {
        margin-bottom: 0;
      }

      picture {
        background: var(--primary);
        width: #{math.div(88, 16)}em;
        height: #{math.div(88, 16)}em;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-bottom: #{math.div(23, 16)}em;
        border-radius: 50%;

        img {
          width: #{math.div(48, 16)}em;
          height: #{math.div(48, 16)}em;
        }
      }
      h2 {
        text-align: center;
        font-size: #{math.div(32, 16)}em;
        line-height: #{math.div(27, 20)}em;
        font-weight: 700;
        color: #1a1a1a;
        margin-bottom: #{math.div(13, 20)}em;
      }
      p {
        text-align: center;
        line-height: #{math.div(24, 18)}em;
        width: 100%;
        opacity: 0.7;
      }
    }
  }
}

/* Inbetween */
@media only screen and (min-width: 768px) {
  .services {
    font-size: "min(1.8vw, 1em)";
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 98%;

    .card {
      margin: 0;
      max-width: #{math.div(325, 16)}em;
    }
  }
}

/* Large Desktop */
@media only screen and (min-width: 1300px) {
  .services {
    padding: #{math.div(50, 16)}em #{math.div(80, 16)}em;

    .card {
      max-width: #{math.div(357, 16)}em;
    }
  }
}

/* Dark mode */
@media only screen and (min-width: 0em) {
  body.dark-mode {
    #services {
      background: var(--medium);

      picture {
        background: var(--primaryDark);
      }

      h2 {
        color: #fff;
        font-weight: bold;
      }
    }
  }
}
