@use "sass:math";

/* Mobile - Top Drop Down */
@media only screen and (max-width: 1023px) {
  //Navigation Styles
  #navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10000;
    height: auto;

    .background-color-div {
      position: absolute;
      top: 0;
      left: 0;
      background-color: #fff;
      width: 100%;
      height: 100%;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }

    .container {
      padding: #{math.div(13, 16)}em 0;
      width: 96%;
    }

    // Logo
    .logo {
      display: inline-block;
      height: #{math.div(30, 16)}em;
      width: auto;

      img {
        width: auto;
        height: 100%;
      }

      .light {
        display: none;
      }

      .dark {
        display: block;
      }
    }

    // Hamburger Menu Default State
    .hamburger-menu {
      position: absolute;
      right: #{math.div(0, 16)}em;
      border: none;
      height: #{math.div(48, 16)}em;
      width: #{math.div(48, 16)}em;
      z-index: 100;
      display: block;
      background: transparent;
      padding: 0;
      top: 50%;
      transform: translateY(-50%);
      transition: top 0.3s;

      span {
        height: 2px;
        width: #{math.div(30, 16)}em;
        background-color: #000;
        display: block;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);

        //transition properties
        transition: background-color 0.3s;

        &:before {
          content: "";
          position: absolute;
          display: block;
          height: 2px;
          width: 80%;
          background: #000;
          opacity: 1;
          top: -6px;
          left: 0;

          //transition properties
          transition: width 0.3s, left 0.3s, top 0.3s, transform 0.5s;
        }

        &:after {
          content: "";
          position: absolute;
          display: block;
          height: 2px;
          width: 80%;
          background: #000;
          opacity: 1;
          top: 6px;
          left: 0;

          //transition properties
          transition: width 0.3s, left 0.3s, top 0.3s, transform 0.3s;
        }
      }
    }

    // Hamburger Menu Open State
    .hamburger-menu.clicked {
      span {
        background-color: transparent;
        &:before {
          width: 100%;
          transform: translate(-50%, -50%) rotate(225deg);
          left: 50%;
          top: 50%;
        }

        &:after {
          width: 100%;
          transform: translate(-50%, -50%) rotate(-225deg);
          left: 50%;
          top: 50%;
        }
      }
    }

    // Navbar Menu Default State
    #navbar-menu {
      position: fixed;
      right: 0;
      padding: 0;
      width: 100%;
      border-radius: 0 0 #{math.div(6, 16)}em #{math.div(6, 16)}em;
      z-index: -1;
      overflow: hidden;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      background-color: #fff;
      top: #{math.div(64, 16)}em; // same as #navigation height

      //Transition Properties
      padding-top: 0;
      height: 0;
      transition: height 0.3s, padding-top 0.3s, top 0.3s;

      ul {
        padding: 0;
        perspective: 700px;
        li {
          list-style: none;
          margin-bottom: #{math.div(24, 16)}em;
          text-align: center;
          //Transition Properties
          transform-style: preserve-3d;
          opacity: 0;
          transform: translateY(#{math.div(-7, 16)}em) rotateX(90deg);
          transition: opacity 0.5s, transform 0.5s;

          //Staggar their transitions
          &:nth-of-type(1) {
            transition-delay: 0.1s;
          }
          &:nth-of-type(2) {
            transition-delay: 0.2s;
          }
          &:nth-of-type(3) {
            transition-delay: 0.3s;
          }
          &:nth-of-type(4) {
            transition-delay: 0.4s;
          }
          &:nth-of-type(5) {
            transition-delay: 0.5s;
          }
          a {
            text-decoration: none;
            text-transform: uppercase;
            color: #000;
            font-size: #{math.div(19, 16)}em;
            text-align: center;
            display: inline-block;
            position: relative;
            font-weight: bold;

            // Active State
            &.active {
              &:before {
                content: "";
                position: absolute;
                display: block;
                height: #{math.div(8, 19)}em;
                background: var(--primary);
                opacity: 1;
                bottom: #{math.div(5, 19)}em;
                border-radius: #{math.div(4, 19)}em;
                left: #{math.div(-6, 19)}em;
                right: #{math.div(-6, 19)}em;
                z-index: -1;
              }
            }
          }
        }
      }
    }

    // Navbar Menu Open State
    #navbar-menu.open {
      height: #{math.div(306, 16)}em;
      padding-top: #{math.div(20, 16)}em;
      z-index: -100;

      ul {
        li {
          opacity: 1;
          transform: translateY(0) rotateX(0);
        }
      }
    }
  }
}

// ----------------------------------------------------------

/* Mobile - Side Pop Out */
@media only screen and (max-width: 1023px) {
  //Navigation Styles
  #navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10000;
    height: auto;

    .background-color-div {
      position: absolute;
      top: 0;
      left: 0;
      background-color: #fff;
      width: 100%;
      height: 100%;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }

    .container {
      padding: #{math.div(13, 16)}em 0;
      width: 96%;
    }

    // Logo
    .logo {
      display: inline-block;
      height: #{math.div(30, 16)}em;
      width: auto;

      img {
        width: auto;
        height: 100%;
      }

      .light {
        display: none;
      }

      .dark {
        display: block;
      }
    }

    // Hamburger Menu Default State
    .hamburger-menu {
      position: absolute;
      right: #{math.div(0, 16)}em;
      border: none;
      height: #{math.div(48, 16)}em;
      width: #{math.div(48, 16)}em;
      z-index: 100;
      display: block;
      background: transparent;
      padding: 0;
      top: 50%;
      transform: translateY(-50%);
      transition: top 0.3s;

      span {
        height: 2px;
        width: #{math.div(30, 16)}em;
        background-color: #000;
        display: block;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);

        //transition properties
        transition: background-color 0.3s;

        &:before {
          content: "";
          position: absolute;
          display: block;
          height: 2px;
          width: 80%;
          background: #000;
          opacity: 1;
          top: -6px;
          left: 0;

          //transition properties
          transition: width 0.3s, left 0.3s, top 0.3s, transform 0.5s;
        }

        &:after {
          content: "";
          position: absolute;
          display: block;
          height: 2px;
          width: 80%;
          background: #000;
          opacity: 1;
          top: 6px;
          left: 0;

          //transition properties
          transition: width 0.3s, left 0.3s, top 0.3s, transform 0.3s;
        }
      }
    }

    // Hamburger Menu Open State
    .hamburger-menu.clicked {
      span {
        background-color: transparent;
        &:before {
          width: 100%;
          transform: translate(-50%, -50%) rotate(225deg);
          left: 50%;
          top: 50%;
        }

        &:after {
          width: 100%;
          transform: translate(-50%, -50%) rotate(-225deg);
          left: 50%;
          top: 50%;
        }
      }
    }

    // Navbar Menu Default State
    #navbar-menu {
      position: fixed;
      right: 0;
      padding: 0;
      height: 100%;
      border-radius: 0 0 #{math.div(6, 16)}em #{math.div(6, 16)}em;
      z-index: -1;
      overflow: hidden;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      background-color: #fff;
      top: #{math.div(64, 16)}em; // same as #navigation height

      //Transition Properties
      padding-top: 0;
      width: #{math.div(0, 16)}em;
      transition: width 0.3s;

      ul {
        padding: 0;
        perspective: 700px;
        padding-right: #{math.div(20, 16)}em;
        padding-top: #{math.div(50, 16)}em;
        li {
          list-style: none;
          margin-bottom: #{math.div(24, 16)}em;
          text-align: right;
          //Transition Properties
          transform-style: preserve-3d;
          opacity: 0;
          transform: translateY(#{math.div(-7, 16)}em) rotateX(00deg);
          transition: opacity 0.5s, transform 0.5s;

          //Staggar their transitions
          &:nth-of-type(1) {
            transition-delay: 0.1s;
          }
          &:nth-of-type(2) {
            transition-delay: 0.2s;
          }
          &:nth-of-type(3) {
            transition-delay: 0.3s;
          }
          &:nth-of-type(4) {
            transition-delay: 0.4s;
          }
          &:nth-of-type(5) {
            transition-delay: 0.5s;
          }
          a {
            text-decoration: none;
            text-transform: uppercase;
            color: #000;
            font-size: #{math.div(19, 16)}em;
            text-align: center;
            display: inline-block;
            position: relative;
            font-weight: bold;

            // Active State
            &.active {
              &:before {
                content: "";
                position: absolute;
                display: block;
                height: #{math.div(8, 19)}em;
                background: var(--primary);
                opacity: 1;
                bottom: #{math.div(5, 19)}em;
                border-radius: #{math.div(4, 19)}em;
                left: #{math.div(-6, 19)}em;
                right: #{math.div(-6, 19)}em;
                z-index: -1;
              }
            }
          }
        }
      }
    }

    // Navbar Menu Open State
    #navbar-menu.open {
      width: #{math.div(250, 16)}em;
      z-index: -100;

      ul {
        li {
          opacity: 1;
          transform: translateY(0) rotateX(0);
        }
      }
    }
  }
}
