@use 'mixins' as mixin;
@use "sass:math";

/*-- -------------------------- -->
<---         Portfolio          -->
<--- -------------------------- -*/

/* Mobile */
#portfolio {
  padding-top: #{math.div(50, 16)}em;
  padding-bottom: 35%;
  position: relative;
  z-index: 5;
  @include mixin.breakpoint(64em) {
    padding: #{math.div(150, 16)}em 0;
  }

  .container {
    width: 96%;
    max-width: #{math.div(1322, 16)}em;
    padding: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: #{math.div(30, 16)}em;
    font-size: min(1.3vw, 1em);

    .row {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: #{math.div(30, 16)}em;

      &:nth-of-type(1) {
        picture {
          &:nth-of-type(1) {
            width: #{math.div(420, 16)}em;
            height: #{math.div(567, 16)}em;
          }

          &:nth-of-type(2) {
            width: #{math.div(420, 16)}em;
            height: #{math.div(629, 16)}em;
          }

          &:nth-of-type(3) {
            width: #{math.div(420, 16)}em;
            height: #{math.div(512, 16)}em;
          }
        }
      }

      &:nth-of-type(2) {
        picture {
          &:nth-of-type(1) {
            width: #{math.div(420, 16)}em;
            height: #{math.div(492, 16)}em;
          }

          &:nth-of-type(2) {
            width: #{math.div(420, 16)}em;
            height: #{math.div(517, 16)}em;
          }

          &:nth-of-type(3) {
            width: #{math.div(420, 16)}em;
            height: #{math.div(629, 16)}em;
          }
        }
      }

      &:nth-of-type(3) {
        picture {
          &:nth-of-type(1) {
            width: #{math.div(420, 16)}em;
            height: #{math.div(625, 16)}em;
          }

          &:nth-of-type(2) {
            width: #{math.div(420, 16)}em;
            height: #{math.div(652, 16)}em;
          }

          &:nth-of-type(3) {
            width: #{math.div(420, 16)}em;
            height: #{math.div(629, 16)}em;
          }
        }
      }

      picture {
        position: relative;
        display: block;
        img {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          object-fit: cover;
          border-radius: #{math.div(8, 16)}em;
        }
      }
    }
  }
}

/*-- -------------------------- -->
<---    Final Call To Action    -->
<--- -------------------------- -*/

/* Mobile */
#cta {
  position: relative;
  padding: #{math.div(50, 16)}em 0;
  @include mixin.breakpoint(64em) {
    padding: #{math.div(168, 16)}em 0;
  }
  @include mixin.breakpoint(xlarge) {
    position: relative;
    margin-top: #{math.div(100, 16)}em;
    
    &:after {
      content: "";
      position: absolute;
      display: block;
      height: #{math.div(1108, 16)}em;
      width: #{math.div(2000, 16)}em;
      background: url("../images/cta-squares.svg");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      opacity: 1;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      z-index: -3;
    }
  }

  &:before {
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: 0.7;
    top: 0;
    left: 0;
    z-index: -1;
    @include mixin.breakpoint(xlarge) {
      display: none;
    }
  }

  .container {
    text-align: center;
    @include mixin.breakpoint(xlarge) {
      width: 90.0625%;
      margin: auto;
    }
  }

  picture {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -2;
    @include mixin.breakpoint(xlarge) {
      width: 90.0625%;
      left: 50%;
      transform: translateX(-50%);
      &:before {
        content: "";
        position: absolute;
        display: block;
        height: 100%;
        width: 100%;
        background: #000;
        opacity: 0.7;
        top: 0;
        left: 0;
        z-index: 1;
      }
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .title {
    font-weight: 900;
    font-size: min(9vw, 3em);
    line-height: math.div(58, 48);
    color: #fff;
    position: relative;
    margin-bottom: #{math.div(36, 48)}em;
    text-align: center;
  }

  p {
    color: #fff;
    text-align: center;
    opacity: 1;
    margin: auto;
    margin-bottom: #{math.div(36, 18)}em;
    width: 96%;
    max-width: #{math.div(598, 18)}em;
  }
}

/* Dark Mode */
body.dark-mode {
  #cta {
    &:after {
      display: none;
    }
  }
}